@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.splide__arrows {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  width: 120px;
}
.splide__arrows button {
  background-color: #5c45fd;
  opacity: 1;
}
.splide__arrows button svg {
  fill: white;
}
@theme {
  --color-primaryColor: #5c45fd;
  --color-secondaryColor: #432c8a;
  --color-softPink: #dbd4f5;
  --color-primaryBlack: #2f2f2f;
  --font-inter: var(--font-inter);
}

strong {
  color: var(--color-primaryColor);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
