@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@theme {
  --color-primaryColor: #5c45fd;
  --color-secondaryColor: #432c8a;
  --color-softPink: #dbd4f5;
  --color-primaryBlack: #2f2f2f;
  --font-inter: var(--font-inter);
}

strong {
  color: var(--color-primaryColor);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
